<!DOCTYPE html>
<html>
  <head>
    <title>Svails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'bundle', media: 'all' %>
    <%= javascript_include_tag 'bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
